h1{
    text-align:center;
    font-size:50px;
    font-family: 'Spicy Rice', cursive;
}
h1:hover{
    color:yellow;  
    letter-spacing:15px;
}
h2{
    font-size:30px;
}
h2:hover{
    font-family: 'Playfair Display', serif;
    color:red;
}
img{
    width:250px;
    border:dotted 10px #000;
}
p{
    float:right;
}
body{
    background:#00bfff ;
    font-size:25px;
}